@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/form.css" />
<link rel="stylesheet" href="~/css/addAdmin.css" />

<form asp-action="AddExam2" asp-controller="Admin">
    <ul class="wrapper">

   <li class="form-row">
       <label>Выберите дисциплину</label>
       <select name="id">
        <option disabled>Выберите дисциплину</option>
        @foreach (var item in ViewBag.UPlanUnit)
       {
           <option value="@item.ID">@item.NameGroup @item.NameType @item.NamePredmet @item.NameTeacher</option>
       }
       </select>
   </li>

   <li class="form-row">
   <label>Выберите дату экзамена</label>
   <input type="date" name="dateEx"/>
   </li>
   <li>
        <input type="submit" value="Отправить" class="btn" />
    </li>
    </ul>
</form>