@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;

}
<h1>Список студентов группы @ViewBag.NameGroup</h1>
<form asp-action="GetFileClient" asp-controller="Admin">
    <div class="form-group">
        <input type="hidden" value="@ViewBag.ID" name="id" />
        <input type="submit" value="Распечатать" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.Students)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td>@item.Surname</td>
           <td>@item.Name</td>
           <td>@item.SecondName</td>
       </tr>
   }
   </tbody>
</table>