@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h1>Преподаваемые дисциплины</h1>

<table>
    <thead>
        <td>№</td>
        <td>Название предмета</td>
        <td>Тип контроля</td>
        <td>Количество часов</td>
        <td>Семестр</td>
    </thead>

    @foreach (var item in ViewBag.Predmets)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td>@item.NamePredmet</td>
           <td>@item.TypeControl</td>
           <td>@item.Count</td>
           <td>@item.Semestr</td>
       </tr>
   }

</table>