@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}

<link rel="stylesheet" href="~/css/form.css" />
<link rel="stylesheet" href="~/css/addAdmin.css" />

<h1>Оценки группы @ViewBag.NameGroup по дисциплине @ViewBag.NamePredmet</h1>
<form asp-action="GetFileClient" asp-controller="Teacher">
    <div class="form-group">
        <input type="hidden" value="@ViewBag.ID" name="id" />
        <input type="submit" value="Распечатать" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
        <th>№</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Оценка</th>
        <th>Дата</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var it in @ViewBag.CG)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td>@it.Surname</td>
           <td>@it.Name</td>
           <td>@it.SecondName</td>
           <td>@it.Mark</td>
           <td>@it.Date</td>
       </tr>
   }
   </tbody>
</table>