@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h1>Преподаваемые дисциплины</h1>

<table class="table">
    <thead>
        <tr>
        <th>№</th>
        <th>Название предмета</th>
        <th>Тип контроля</th>
        <th>Количество часов</th>
        <th>Семестр</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.Predmets)
   {
       <tr>
           <td>@(i = i + 1)</td>
           <td>@item.NamePredmet</td>
           <td>@item.TypeControl</td>
           <td>@item.Count</td>
           <td>@item.Semestr</td>
       </tr>
   }
   </tbody>
</table>